<div class = "favs">
  <h4 class = "favorites-heading">
    <%= render partial: 'votes/voter', locals: { post: post } %>
    <%= link_to post.title, topic_post_path(post.topic, post) %>
    <%= render partial: "labels/list", locals: { labels: post.labels } %>  <div class='favorite_post'>
  </h4>
  <div class = "post-info">
    <%= image_tag current_user.avatar_url(48), class: "gravatar" %>
    <br>
    <%= post.user.name %> submitted <%= time_ago_in_words(post.created_at) %> ago.
    <br>
    <%= post.comments.count %> Comments
  </div>
</div>
